<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div id="main-container" class="container-fluid">
  <div class="row" id='page-wrapper'>
    <div id="hello" class="col-sm-12">
      <h1 id="hello_text">Hello Teachers</h1>
    </div>
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
              <div class="slide1">
                <div class="row" id="login_info">
                  <p id="login"> Login Page </p>
                    <%= form_for :teacher, url: { action: 'login'} do |f| %>
                      <%= f.text_field :email, :placeholder => "Email"%>
                    <br>
                    </br>
                      <%=f.text_field :password, :placeholder => "Password"%>
                    <br>
                    </br>
                      <%= f.submit 'Login' %>
                    <%end%>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div id="footer" class="row">
    </div>
  </div>
</div>