<h1>Attendance Index</h1>
<%@attendances.each do |attendance| %>
<h3><%=attendance.student.email%></h3>
<%end%>

<h1>Today's Attendances</h1>
  <%if @today_students.count == 0%>
    <h3>No Students Have Signed In Today</h3>
  <%else%>
    <%@today_students.each do |attendance| %>
    <h3><%=attendance.student.email%></h3>
    <%end%>
  <%end%>