<h1>Attendance Index</h1>
<%@attendances.each do |attendance| %>
<h3><%=attendance.student.email%></h3>
<%end%>

<h1>Today's Attendances</h1>
  <%if @today_students.count == 0%>
    <h3>No Students Have Signed In Today</h3>
  <%else%>
    <%@today_students.each do |attendance| %>
    <h3><%=attendance.student.email%></h3>
    <%end%>
  <%end%>

  <script>

  var att_list = []
  <%@attendances.each do |i|%>
  att_list.push("<%=i.student.email%>")
  <%end%>

  console.log(att_list)

  var student_here_today = []
  <%@today_students.each do |attendance|%>
  student_here_today.push("<%=attendance.student.email%>")
  <%end%>
  console.log(student_here_today)
  </script>
